@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: red;
}

.login-wrapper {
    flex-grow: 1;
}

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.sidenav {
    background-color: #1F2041;
    flex-grow: 1;
    padding-top: 1rem;
}

.nav-link,
.nav-link:hover,
.nav-link:focus {
    color: white;
}

.nav-link:active {
    color: gray;
}

.content {
    color: white;
    background-color: #2A284E;
    flex-grow: 1;
}

.content-left-activities {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2em;
    background-color: #4B3F72;
    border-radius: 2em;
    padding: .5em;
}

.content-left-button {
    margin: 0.5em 0em 1.8em 2em;
    border-radius: 2em;
}

.welcome-text {
    margin-bottom: .8em;
    font-size: 2em;
    font-weight: bold;
}

.calendar-title {
    font-size: 1.7rem;
}

.weather, .calendar {
    padding: 10px;
}

.card {
    width: 25rem;
    color: #4B515D; 
    border-radius: 35px;
}

.navigation {
    background-color: white;
}

.calendar-wrapper {
    margin-bottom: .7rem;
}

.calendar-wrapper-items {
    width: 25rem;
    border-radius: 2em;
    display: flex;
    flex-wrap: wrap;
    background-color: #4B515D
}


.navbar-nav {
    gap: 4rem;
}

.footer {
    color: white;
    background-color: white;
}


.form-control:focus,
.btn:focus {
    outline: 0 !important;
    border-color: initial;
    box-shadow: none;
}

#search-icon {
    color: white;
}

.search-activity {
    margin: 2em 0em 2em 0em;
}

.day-name,
.day,
.day-active {
    text-align: center;
    vertical-align: middle;
    width: calc(100% / 7);
    height: 40px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.day-active {
    background-color: gray;
    border-radius: 4em;
}


.gradient-custom {
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}

.add-task {
    margin: 1em;
    background-color: #4B515D;
    border-radius: 2em;
    padding: .7em;
}

.due-date {
    margin: 0em 2em 0em 2em;
}

.editBtn,
.removeBtn {
    margin: 0em 1em 0em 1em;
}

.list-group-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
    background-color: white;
}

.btn-add-task {
    background-color: white;
    color:black;
    border: none;
    border-radius: 1rem;
    padding: .7rem;
    transition: .3s;
}

.modal-button-close {
    padding: 2rem;
    background-color: white;
}